<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
<title th:text="#{label.pages.home.title}"></title>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- include summernote css/js-->
		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
		
		
		<script>
		$(document).ready(function() {
			  $('#summernote').summernote({
					  toolbar: [
						    ['style', ['style']],
						    ['font', ['bold', 'italic', 'underline', 'clear']],
						    ['insert', ['link', 'picture','video','hr']],
						    ['color', ['color']],
						    ['para', ['ul', 'ol', 'paragraph']],
						    ['height', ['height']],
						    ['view', ['codeview']]
						  ]		  
			  });
			  
			  $('#summernote').summernote({
		            height: 200,
		            onImageUpload: function(files, editor, welEditable) {
		                sendFile(files[0], editor, welEditable);
		            }
		        });
			  
			  function sendFile(file, editor, welEditable) {
		            data = new FormData();
		            data.append("file", file);
		            $.ajax({
		                data: data,
		                type: "POST",
		                url: "/imageUpload",
		                cache: false,
		                contentType: false,
		                processData: false,
		                success: function(url) {
		                    editor.insertImage(welEditable, url);
		                }
		            });
		        }
			  
		
		  $('#topicform').submit(function() {
			  alert("Form submit!");
			  var markupStr = $('#summernote').summernote('code');
			  console.log(markupStr);
			  $("#tpContent").val(markupStr);
			  return true;
			});
		});
		</script>

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

<div class="container">         
     <p sec:authorize="!hasAuthority('WRITE_PRIVILEGE')" th:text="#{message.unauth}">unauth</p>   
        
     <h1 sec:authorize="hasAuthority('WRITE_PRIVILEGE')" th:text="#{label.pages.admin.message}">admin</h1>
     
     <div id="summernote"></div>
     

    <form id="topicform" action="/topic/create" method="post" onsubmit="return submitform()">
    	<p>Question: <input type="text" name="header" /></p>
    	<input id="tpContent" type="hidden" name="content" value=""/>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        
    </form>
     
     


</div>
</body>
</html>