<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
<title th:text="#{label.pages.home.title}"></title>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	
<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">
    <link href="/css/homestyle.css" rel="stylesheet">	
	
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    		
		<!-- include summernote css/js-->
		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

		<script th:inline="javascript">
				/*<![CDATA[*/
			function initEditorContent(){
				var cnt = [[${topic.content}]]
				$('#summernote').summernote('code',cnt) ;
				console.log("Content Loaded");
				}
				/*]]>*/
		</script>
<script>
		$(document).ready(function() {
			initEditorContent();
			  $('#summernote').summernote({
					  toolbar: [
						    ['style', ['style']],
						    ['font', ['bold', 'italic', 'underline', 'clear']],
						    ['insert', ['link', 'picture','video','hr']],
						    ['color', ['color']],
						    ['para', ['ul', 'ol', 'paragraph']],
						    ['height', ['height']],
						    ['view', ['codeview']]
						  ]		  
			  });
			  
			  $('#summernote').summernote({
		            height: 200,
		            onImageUpload: function(files, editor, welEditable) {
		                sendFile(files[0], editor, welEditable);
		            }
		        });
			  
			  function sendFile(file, editor, welEditable) {
		            data = new FormData();
		            data.append("file", file);
		            $.ajax({
		                data: data,
		                type: "POST",
		                url: "/imageUpload",
		                cache: false,
		                contentType: false,
		                processData: false,
		                success: function(url) {
		                    editor.insertImage(welEditable, url);
		                }
		            });
		        }
			  
		
		  $('#topicform').submit(function() {
			  event.preventDefault();
			  var markupStr = $('#summernote').summernote('code');
			  console.log(markupStr);
			  $("#tpContent").val(markupStr);
			  
			  var datastring = $("#topicform").serialize();
			  var posturl = $("#topicform").attr("action");
			  var topicurl = posturl.replace("edit/","");
			  //console.log("POST TO: "+posturl);
			  //console.log("TOPIC: URL" + topicurl)
			  $.ajax({
			      type: "POST",
			      url: posturl,
			      data: datastring,
			      dataType: "json",
			      success: function(data) {
			          //var obj = jQuery.parseJSON(data);
			          console.log(data.error)
			          console.log(data.message)
			          if(data.error == null){
			        	  alert(data.message);
			        	  location.replace(topicurl)
			          } else {
			        	  alert(data.error);
			          }
			      },
			      error: function() {
			          alert('error handing here');
			      }
			  });
			  
			  
			  return false;
			});
		});
		</script>

</head>


<body>
<nav class="navbar navbar-static-top navbar-default navbar-custom " style="background-color: black">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home">Learner</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a sec:authentication="name" href="/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/home">Sample Post</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class="container">   
    
	<h1>Learner</h1>
     <h1>Edit Topic</h1>
     
         <form id="topicform" th:attr="action = '/topic/edit/'+${topic.id}" method="post" onsubmit="return submitform()">
    	<p>Title: <input type="text" name="header" th:attr="value=${topic.header}"/></p>
    	<input id="tpContent" type="hidden" name="content" value=""/>
        
    </form>
    <h3>Create your content :</h3>
     <div id="summernote"></div>
     


    <button form="topicform" type="submit" value="Submit" class="btn btn-primary">Submit Post</button>
     


</div>
<script src="/js/clean-blog.min.js"></script>
</body>
</html>