<html>
<head>
<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sceditor/1.5.0/themes/default.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/profilestyle.css">
	
	<link href="/css/clean-blog.css" rel="stylesheet">
	
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style type="text/css">
    body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size : 14px;
  color: #333333;
}
p {
  line-height: 1.1;
  margin: 3px 0;
}
p a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

    </style>
    <title th:text="${user.firstName + ' ' + user.lastName}"></title>
</head>
<div>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home">Learner</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="active">
                        <a sec:authentication="name" href="/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>



<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div th:text="${user.firstName + ' ' + user.lastName}" class="profile-usertitle-name">
						Username
					</div>
					<div class="profile-usertitle-job">
						<div sec:authorize="hasAuthority('TEACHER_PRIVILEGE')">
							Contributor
						</div>
						<div sec:authorize="hasAuthority('STUDENT_PRIVILEGE')">
							Learner
						</div>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons" hidden>
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu" hidden>
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-6">
            <div class="profile-content">
			   <div sec:authorize="hasAuthority('TEACHER_PRIVILEGE')">
					<div class="col-lg-12 col-md-12 col-sm-12">
					<h3>Contributions</h3>
						    	<div th:each="tpc,iterationStatus : ${user.topics}"  th:unless="${iterationStatus.index > 5}" class="row">
    	
    	<div >
    	
    <div class="row" >
      <div class="col-lg-10">
        <h4><strong><a th:text="${tpc.header}" th:href="'/topic/' + ${tpc.id}">Title of the post</a></strong></h4>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-10">
        <p>
           <span class="glyphicon glyphicon-calendar"></span> <span th:text="${#dates.format(tpc.createdAt,'YYYY/MM/dd HH:mm')}"></span>
          | <span class="glyphicon glyphicon-comment"></span> <a href="#" th:text="${#lists.size(tpc.comments) + ' comments' }">comments</a>
          | <span class="glyphicon glyphicon-thumbs-up"></span> <a href="#" th:text="${#lists.size(tpc.likedBy)} + ' likes'">Likes</a>
           <!--| <span class="glyphicon glyphicon-tags"></span> Tags : 
           <a th:each="tg,iterationStatus : ${tpc.tags}" th:href="'/search/tag/' + ${tg.id}"> <span th:text="${tg.name}" class="label label-info">Snipp</span></a> -->
        </p>
      </div>
      <hr>
    </div>
  </div>
  
</div>

					</div>
				</div>
            </div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
			<div class="panel-heading">Recommended Topics :</div>
			<div class="panel-body">
				<ul class="list-group">
					<li th:each="poptop,itstat :${recommended}" th:unless="${itstat.index >5}">
						<a th:text="${poptop.header}" th:href="'/topic/' + ${poptop.id}" style="font-size:14px; text-decoration:none"> header</a>
						<a th:text="${'by ' +poptop.owner.firstName + ' ' + poptop.owner.lastName}" th:href="'/profile/' + poptop.owner.id" style="font-size:12px; text-decoration:none"> owner</a>
					</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</div>

<center>
<strong>Learner 2016</strong>
</center>
<br>
<br>
</body>
</html>
