<html>

<head>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
<script type="text/javascript">
	$(function() {
		$(".carousel-inner .item:first-child").addClass("active");
		$(".carousel-indicators li:first-child").addClass("active");
	});
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> 
 <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>


<title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" th:text="#{label.pages.home.title}">home</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
      </ul>
  </div>
</nav>
    <div class="container">
            <h1 th:text="#{label.pages.home.message}">home</h1>
    </div>
    
    <div id="myCarousel" class="carousel slide col-md-6" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li th:each="tpc,iterationStatus : ${topics}" data-target="#myCarousel" th:attr="data-slide-to=${iterationStatus.count-1}"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div  class="carousel-inner" role="listbox">
    <div th:each="tpc,iterationStatus : ${topics}" class="item">
      <img src="/resources/img_chania.jpg" alt="Chania"></img>
      <div class="carousel-caption">
        <h3 th:text="${tpc.header}">Chania</h3>
        <p th:text="${tpc.owner.firstName}">The atmosphere in Chania has a touch of Florence and Venice.</p>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
</body>

</html>

